.customer-name {
    font-size: 16px;
    color: blue;
    margin: 5px;
}

.button {
    background-color: aquamarine;
    font-size: 17px;
    font-weight: 600;
}

.customer-list {
    font-size: 16px;
    font-weight: 300;
}